body {
	font-size: 100%;	
}

.ui-datepicker-next { display: none; }
.ui-datepicker-prev { display: none; }

td.highlightBirthdays {border: none !important;padding: 1px 0 1px 1px !important;background: none !important;overflow:hidden;}
td.highlightFreeDays {border: none !important;padding: 1px 0 1px 1px !important;background: none !important;overflow:hidden;}
td.highlightGoodDays {border: none !important;padding: 1px 0 1px 1px !important;background: none !important;overflow:hidden;}

td.highlightToday { border: none !important;padding: 1px 0 1px 1px !important;background: none !important;overflow:hidden;}
td.highlightToday a { background: #fffa90 !important; border: 1px black solid !important; }

td.highlightUnstandartDay a { border: 1px red solid !important; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight { 
	background: #f6f6f6;	
	color: black;
	border: 1px #c5c5c5 solid;
 }

.ui-state-active, .ui-widget-content .ui-state-active {
  /*any CSS styles you want overriden i.e.*/
  /*border: 1px solid #999999;*/
	border: 1px solid #c5c5c5;
	background-color: #f6f6f6;
	color: #000000;
}

.wrapper {
	width: 99%;
	height: 90%;
	position: absolute;
	background-color: #fff;
	color: #444;
}			

#boxBlock{
  display: table;
  margin: 0 auto;
}

.box {
	margin: 10px;
	background-color: #444;
	color: #fff;
	border-radius: 5px;
	padding: 20px;
	float:left;
	text-align:center;
}

.hidden{
	visibility: hidden;
}

.calendar{
  display: table;
  margin: 0 auto;
}

.clear{
	clear:both
}
			