td.highlightFreeDays a { background: #efbdbd !important; border: 1px #e8afaf solid !important; }
td.highlightBirthdays a { background: #75f173 !important; border: 1px #cece78 solid !important; }
td.highlightGoodDays a { background: #9bf291 !important; border: 1px #ee6b57 solid !important; }
