
#pi_image{
	align: right;
	width: 70%;
	height: 100%;
}

.goButton{
	height: 60px;
	width: 300px;
}

.climate_icon {
	background-image: url(station.png) !important;
    width: 40px;
    height: 40px;
}
	
.generator_icon {
	background-image: url(sine.png) !important;
    width: 40px;
    height: 40px;
}
	
* { padding: 0; margin: 0; }

body {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 13px;
}
#wrapper { 
 margin: 0 auto;
 left : 10%;
 position: absolute;
 width: 80%;
 height: 90%;
}

#faux {
 background: url(faux-4-2-col.gif);
 margin-bottom: 0px;
 overflow: auto; 
 width: 100%
}
#header {
 position: relative;
 color: #333;
 width: 100%;
 padding: 10px;
 height: 100px;
 margin: 10px 0px 0px 0px;
 background: #D1DBDB;
}
#navigation {
 position: relative;
 width: 100%;
 color: #333;
 padding: 10px;
 margin: 0px 0px 0px 0px;
 background: #ABBEBE;
}
#leftcolumn {
 position: relative;
 width: 99%;
 float: left;
 color: #333;
 margin:10px;
 padding:0;
 display: inline;
 position: relative;
 text-align: center;
}
#footer { 
 position: absolute;
 bottom: 0%;
 left: 10%;
 width: 80%;
 color: #333;
 background: #ABBEBE;
 margin: 0px 0px 10px 0px;
 padding: 10px;
}
.clear { clear: both; background: none; }